{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
  Listagem de usuários
{% endblock title %}

{% block content %}
  <div card="card card-primary">
    <div card="card-header">
      Lista de usuários 
    </div>
    <div class="card-body p-0">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Username</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
            <tr>
              <td>{{usuario.username}}</td>
              <td>
                <a href="{% url 'editar_usuario' usuario.id %}">Editar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <a href="{% url 'cadastrar_usuario'%}" class="btn btn-primary">Cadastrar</a>
{% endblock content %}